bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs
/.idea/
*.pfx
/WindowsApplicationPackaging/WindowsApplicationPackaging.assets.cache
/WindowsApplicationPackaging/WindowsApplicationPackaging.wapproj.user
